.list__container {
    background-color: var(--bg-color-2);
    box-shadow: 1px 1px  5px rgba(0, 0, 0, 0.463);
    margin: 0.5rem 0;
    min-height: 10rem;
    text-align: center;
    position: relative;
    transition: all 0.1s;
}

.list {
    list-style: none;
    text-align: left;
    padding-bottom: 3rem;
}

.list__item {
    padding: 0.5rem;
}

.viewForm__active {
    visibility: visible;
}

.viewForm__inactive {
    visibility: hidden;
}